  <div class="container">
    <div class="row">
      <div class="bg-dark my-5" style="border-radius: 15px;">
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
          <h2 class="text-center text-white my-1">Login</h2>>
            <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username or password.</div>
            <label for="username" class="text-white">User Name</label>
            <input type="email" id="username" name="username" [(ngModel)]="credentials.username" 
              class="form-control" placeholder="User Name" required>
            <br/>
            <label for="password" class="text-white">Password</label>
            <input type="password" id="password" name="password" [(ngModel)]="credentials.password" 
              class="form-control" placeholder="Password" required>
            <br/>
            <button class="btn btn-lg btn-primary d-block mx-auto my-3" type="submit" [disabled]="!loginForm.valid">Log in</button>
        </form>
      </div>
    </div>
  </div>